<html>
<head>
	<title>Instascan &ndash; QR Code Scanner</title>
	<link href="material.min.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
  <script type="text/javascript" src="jquery-3.0.0.min.js"></script>
  <script type="text/javascript" src="zxing.js"></script>
  <script type="text/javascript" src="qr.js"></script>
  <script type="text/javascript" src="material.min.js"></script>
  <script type="text/javascript" src="clipboard.min.js"></script>
  <script type="text/javascript" src="store.min.js"></script>
  <script type="text/javascript" src="visibility.min.js"></script>
  <script type="text/javascript" src="FileSaver.min.js"></script>
  <script type="text/javascript" src="vue.js"></script>
</head>
<body id="app">
  <nav class="menu" id="history-menu">
		<div class="menu-scroll">
			<div class="menu-content">
				<div class="menu-logo">
          <div class="title">History</div>
          <div class="fbtn-inner">
            <a class="fbtn fbtn-md waves-attach waves-circle" data-toggle="dropdown">
              <span class="icon icon-lg">more_horiz</span>
            </a>
            <div class="fbtn-dropdown">
              <a v-on:click="downloadHistory()" class="fbtn fbtn-brand waves-attach waves-circle" href="javascript:void(0)">
                <span class="fbtn-text fbtn-text-left">Download as JSON</span>
                <span class="icon icon-lg">file_download</span>
              </a>
              <a v-on:click="clearHistory()" class="fbtn fbtn-red waves-attach waves-circle" href="javascript:void(0)">
                <span class="fbtn-text fbtn-text-left">Clear History</span>
                <span class="icon icon-lg">delete</span>
              </a>
            </div>
          </div>
        </div>
        <div class="container" v-if="!scans.length">
          <p>You haven't scanned anything yet</p>
        </div>
        <div class="tile-wrap">
					<div v-for="scan in scans | orderBy 'date' -1" class="tile">
						<div class="tile-side pull-left">
						</div>
						<div class="tile-action">
							<ul class="nav nav-list margin-no pull-right">
								<li>
									<a class="text-black-sec waves-attach waves-effect clipboard-copy" href="#" data-clipboard="{{ scan.content }}">
                    <span class="icon icon-md">content_copy</span>
                  </a>
								</li>
								<li>
									<a class="text-black-sec waves-attach waves-effect" href="#" v-on:click="deleteScan(scan)">
                    <span class="icon icon-md">clear</span>
                  </a>
								</li>
							</ul>
						</div>
						<div class="tile-inner">
							<a v-if="isHttpUrl(scan.content)" href="{{scan.content}}" target="_blank" class="text-overflow">{{ scan.content }}</a>
  						<span v-else class="text-overflow">{{ scan.content }}</span>
						</div>
					</div>
        </div>
			</div>
		</div>
	</nav>
  <nav class="menu menu-right menu-lg" id="settings-menu">
		<div class="menu-scroll">
			<div class="menu-content">
				<span class="menu-logo">Settings</span>
				<div class="container">
					<h4>Camera</h4>
					<form>
						<fieldset>
							<div class="form-group">
								<div v-for="camera in cameras" class="radiobtn radiobtn-adv">
									<label for="camera-{{$index}}">
										<input class="access-hide" id="camera-{{$index}}" name="activeCamera" type="radio" v-bind:value="camera.id" v-model="activeCamera">{{ camera.name }}
										<span class="radiobtn-circle"></span><span class="radiobtn-circle-check"></span>
									</label>
								</div>
							</div>
						</fieldset>
					</form>
					<h4>After scanning</h4>
					<form>
						<fieldset>
							<div class="form-group">
								<div class="checkbox switch">
									<label for="play-audio">
										<input class="access-hide" id="play-audio" name="play-audio" type="checkbox" v-model="playAudio"><span class="switch-toggle"></span>Play a sound
									</label>
								</div>
							</div>
						</fieldset>
					</form>
					<h4>After scanning a link</h4>
					<form>
						<fieldset>
							<div class="form-group">
								<div class="radiobtn radiobtn-adv">
									<label for="link-ignore">
										<input class="access-hide" id="link-ignore" name="link" type="radio" value="ignore" v-model="linkAction">Do nothing
										<span class="radiobtn-circle"></span><span class="radiobtn-circle-check"></span>
									</label>
								</div>
								<div class="radiobtn radiobtn-adv">
									<label for="link-new-tab">
										<input class="access-hide" id="link-new-tab" name="link" type="radio" value="new-tab" v-model="linkAction">Open in new tab
										<span class="radiobtn-circle"></span><span class="radiobtn-circle-check"></span>
									</label>
								</div>
								<div class="radiobtn radiobtn-adv">
									<label for="link-current-tab">
										<input class="access-hide" id="link-current-tab" name="link" type="radio" value="current-tab" v-model="linkAction">Open in current tab
										<span class="radiobtn-circle"></span><span class="radiobtn-circle-check"></span>
									</label>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</nav>
  <div class="overlay">
    <a id="menu-button" class="fbtn fbtn-brand fbtn-lg waves-attach waves-circle" data-toggle="menu" href="#history-menu">
      <span class="icon icon-lg">history</span>
    </a>
    <a id="settings-button" class="fbtn fbtn-brand-accent fbtn-lg waves-attach waves-circle" data-toggle="menu" href="#settings-menu">
      <span class="icon icon-lg">settings</span>
    </a>
    <div id="camera"/>
  </div>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
